nav {
    border-top: red solid 3px;
}

nav li {
    width: 25%;
    float: left;
}


main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}

#hero {
    max-width: 98%;
    margin-left: 1%;

}

#hero h1 {
    padding-top: 14rem;
    margin-bottom: 10px;
    font-size: 5rem;
}

header h2 {
    display: initial;
}

div.news {
    clear: both;
    column-count: 1;
    column-rule: 1px solid #ddd;
}